html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upbar {
    display: flex;
    height: 50px;
    background: #0187ff;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
}

.title_wrapper {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    position: absolute; /* Ensures title is absolutely positioned */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by half its width for perfect centering */
    white-space: nowrap; /* Prevent wrapping of the title */
}

#logout_button {
    background-color: #035da0;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    color: white;
    padding: 9px 0px;
    width: 80px;
    cursor: pointer;
    position: absolute; /* Ensures the button is positioned absolutely */
    right: 10px; /* Aligns the button to the right edge */
    top: 50%; /* Center vertically in the bar */
    transform: translateY(-50%); /* Offset by half its height for perfect centering */
}
